.annotation-detail-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40%;
  width: 100%;
}

.annotation-body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 0.5px black;
  padding-bottom: 15px;
  width: 100%;
}

.annotation-body {
  font-size: 18px;
}

.annotation-author {
  padding-top: 20px;
  font-size: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.like-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: solid 0.5px black;
  padding-top: 10px;
}

.delete-button:hover {
  cursor: pointer;
  font-weight: bold;
}
