.annotation-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%
}

.annotation-input {
  width: 100%;
  height: 100px;
  border: solid 1px black;
  resize: none;
  font-size: 18px;
}

.annotation-input:focus {
  outline: none;
}

.session-form-button.annotation {

}

.rating-span {
  
}
