.comment-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  padding-left: 75px;
}

.comment-list {
  padding-top: 15px;

}

.comment-item {
  padding: 15px;
  padding-left: 0px;



}

.comment-item-container {

}

.comment-item-body {
  font-size: 18px;
}


.comment-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 200px;
  padding-top: 20px;
  padding-left: 30px
}

.comment-author {
  font-size: 15px;
}

.comment-divider {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 100px;
  width: 30%;
  border-bottom: solid 1px LightGrey;
}
