.comment-form-container {
  padding-right: 75px;
  padding-top: 10%
}

.session-form.comment {
  margin-top: 0px;
}

.comment-input {
  width: 200px;
  height: 70px;
  border: solid 1px grey;
  resize: none;
  font-size: 15px;
  padding: 10px;
  user-select: none;

}

.comment-input:focus {
  outline: none;
}

.session-form-button.comment {

}
