.poem-index-item {
width: 100%;
display: block;

}

.poem-item-link {

  color: black;
  font-size: 18px;
  text-decoration: none;
}

.poem-item-container:hover {
  background-color: rgba(168,168,168, 0.12)
}

.poem-item-container {
  padding-top: 20px;
  padding-bottom: 25px;
  border-bottom: solid 1px black;

  display: flex;
  justify-content: space-between;

  padding-left: 20px;
  padding-right: 20px;
}


.poem-item-span {
  padding-right: 20px;
}

.poem-item-author {

}
