

/* Session Nav */

.nav-header {
  height: 95px;
  z-index: 99999;
  background-color: white;


  overflow: visible;
}

.signup-signin-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*box-sizing: border-box;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: thin;*/

  height: 95px;
  font-family: 'futura' sans-serif;

  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  overflow: visible;

}

.signup-signin-nav.out {
}


.nav-bar.left {
  width: 10%;
}

.nav-bar.center {
  display: flex;
  justify-content: center;
  width: 90%;
}

.nav-bar.center.out {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 16%;
}

.nav-bar.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10%;
}

.nav-bar.right.out {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  margin-right: 3%;
}

.avatar-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkseagreen;
  height: 30px;
  width: 30px;
  border-radius: 35px;
  transition: 0.5s;
}

.avatar-container:hover {
  height: 66px;
  width: 66px;
  border-radius: 66px;
  background: rgba(143, 188, 143, 0.5);
}

.avatar {
  position: relative;
  height: 50px;
  width: 50px;
  z-index: 10;
}



.session-link-button {
  width: 100%;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: none;

  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;



}

.session-link-button:hover {
  cursor: default;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.session-link-button:active {

}

.sesssion-sign-out-button {
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
}

.sesssion-sign-out-button:focus {
  outline: none !important;
}
