

/* Session Nav */

.nav-header {
  height: 95px;
  z-index: 10;
  background-color: white;


  overflow: visible;
}

.signup-signin-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*box-sizing: border-box;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: thin;*/

  height: 95px;
  font-family: 'Muli', sans-serif;


  overflow: visible;

}

.signup-signin-nav.out {
}


.nav-bar.left {
  width: 33%;
  padding-bottom: 18px;
}

.nav-bar.center {
  display: flex;
  justify-content: center;
  width: 250px;
  margin-left: 5%;
}


.nav-bar.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  width: 33%;
  margin-right: 3%;

}

.nav-bar.right.out {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  width: 33%;
  margin-right: 3%;
}

.session-link-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.avatar-animation-container {
  height: 70px;
  width: 70px;


  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.avatar-container {

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  background-color: none;
  height: 30px;
  width: 30px;
  border-radius: 35px;
  transition: 0.5s;

  z-index: 20;


}


/* --- Removed ---- */
/* --- Spacing bugs and avatars no longer have one color scheme ---  */
/*
.avatar-container:hover {
  height: 66px;
  width: 66px;
  border-radius: 66px;
  background: rgba(143, 188, 143, 0.5);
}*/





.avatar {
  height: 50px;
  width: 50px;
  z-index: 30;


}




.session-link-button {

  font-family: 'Muli', sans-serif;

  color: black;
  text-decoration: none;
  border-bottom: solid 1px black;
  padding-bottom: 2px;

}

.session-link-button:hover {
  font-weight: bold;
}

.sesssion-sign-out-button {
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
}

.sesssion-sign-out-button:focus {
  outline: none;
}
