
/* --- Poet index containers ---- */

.poet-index-component {
  padding-top: 90px;
  width: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.poet-index-title-box {
  padding-bottom: 20px;
}

.poet-index-title {
  font-family: 'Muli', sans-serif;
  font-size: 65px;


}



.poet-index-box {
  padding-top: 5px;
  width: 100%;
}

.poet-index-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  width: 100%;

}


/* --- Poet index items ---- */

.poet-index-item {
  padding: 40px;
  width: 25%;

}

.poet-item-link {
  text-decoration: none;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

}




/*.poet-item-link:hover > .divider {
  visibility: visible;
}*/

.index-img-container {
  height: 25vh;
  width: 25vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25vh;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}



.poet-index-img {
  width: 108%;
}

.poet-index-name {
  padding-top: 10px;
  font-family: 'Muli', sans-serif;
  color: black;
  text-align: center;
}


.divider {
  /*visibility: hidden;*/
  color: black;

  width: 60%;
  margin-top: 20px;
  border-bottom: solid 1px;
  margin-bottom: 10px;
}
