

/* Session Form */

.session-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15%;
}


.session-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 15%;

}

.errors-list {
	font-family: 'futura' sans-serif;
}

.session-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;

}

.session-form > * {
  width: 100%

}

.session-input {
  font-family: 'futura' sans-serif;
  font-size: 15px;
  height: 20px;
  text-align: center;
  margin-bottom: 10px;

}
.session-form-button {
  font-size: 18px;
  margin-top: 20px;
  width: 70%;

}
