.title-container.small {
  height: 100%;
  width: 190px;
  justify-content: center;
  align-content: center;
}

.gyre-container.small {
  width: 58%;
}

.title-link {
  text-decoration: none;
  height: 100%;
}

.title-link:hover {

}

.title.small {
  font-size: 40px;
  padding-top: 5px;
  width: 18%;
  color: white;
}



.notAwesome.small {
  font-size: 30px;
  width: 5%;
  color: white;
}

.first.small {
  width: 22%;
  padding-right: 8px;
}
