
.title-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 600px;
  padding-right: 8%
}

.gyre-container {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  width: 75%;
  padding-right: 8%
}

.title {
  font-family: 'Muli', sans-serif;
  font-style: italic;
  text-align: center;

  color: black;
  font-weight: bold;
}

.note {
  font-family: 'Muli', sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 23px;
  padding-top: 8%;
  margin-right: 20%;

}

.notAwesome {
  padding-right: 40px;
  font-size:95px;
  width: 10%;

  font-family: futura;
  font-style: italic;
  text-align: center;
  color: black;
  font-weight: bold;

}

.awesome {
  font-size:140px;
        font-weight: bold;
        -webkit-animation:colorchange 5s infinite alternate;
      }

      @-webkit-keyframes colorchange {

        0% {
          color: #ffcc33;
        }

        25% {
          color: #66ff33;
        }

        50% {
          color: #3366ff;
        }

        75% {
          color: #cc33ff;
        }

        100% {
          color: #ff3366;
        }

      }

.first {

}
.second {
  animation-delay: .2s;
}
.third {
  animation-delay: .4s;
}
.fourth {
  animation-delay: .6s;
}
