

/* Session Form */

.session-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15%;
  height: 40%;
  background-color: white;
}


.session-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 15%;

}

.errors-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  color: red;
  font-family: 'Muli', sans-serif;
  list-style-position: inside;

}

.errors-list > * {
  padding-bottom: 10px;
}


.session-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 20%;
}
/*
.session-form > * {
  width: 100%

}*/

.session-input {
  font-family: 'futura' sans-serif;
  font-size: 15px;
  height: 20px;
  text-align: center;
  margin-bottom: 10px;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid black;
}

.session-input:focus {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;

}

.session-form-button {
  font-size: 18px;
  /*font-weight: bold;*/
  color: white;
  margin-top: 25px;
  width: 70%;
  background-color: black;
  border: none;
}

.session-form-button:hover {
  color: black;
  background-color: white;
}

.session-form-button:focus {
  outline: none;
}
