.poem-body {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 130%;
  white-space: pre-wrap;

  margin-bottom: 15%;
}

.poem-body::selection {
  background-color: rgba(94, 190, 137, 0.5);
}

.unannotated::selection {
  background-color: rgba(94, 190, 137, 0.5);
}

.poet-name.poem {
  margin-top: 10%;
  margin-bottom: 10px;
}
.poet-name.poem.author {
  font-size: 20px;
  margin-top: 0px;
}
