.poem-show-body-container {
  display: flex;
  justify-content: space-between;
}



.poem-body {
  width: 100%;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 130%;
  white-space: pre-wrap;

  margin-bottom: 15%;
}

.poem-body::selection {
  background-color: rgba(94, 190, 137, 0.5);
}

.unannotated::selection {
  background-color: rgba(94, 190, 137, 0.5);
}

.poet-name.poem {
  margin-top: 10%;
  margin-bottom: 10px;
}
.poet-name.poem.author {
  font-size: 20px;
  margin-top: 0px;
}

.annotation-column {
  margin-top: 15%;
  margin-right: 10%;
  width: 40%;
  display: flex;
  flex-direction: column;

}

.annotation-container {

}


.annotated {
  background-color: rgba(94, 190, 137, 0.2);
}

.annotated:hover {
  background-color: rgba(94, 190, 137, 0.5);
}
