/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 90%;
}

body {
  margin: auto;
  width: 90%;
  background-image: url(http://res.cloudinary.com/dzqrzline/image/upload/v1505966467/texture-2659241_1920_jmvrwl.jpg);
  height: 100%;
  min-height: 100%;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}

.nav-bar-div {
  margin-top: 1%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}


.component-container {
  margin-top: 2%;
  background-color: white;
  height: 90%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  overflow: scroll;


}


/*  RESEARCH SCROLL BAR TRICKS  */

.component-container::-webkit-scrollbar {
    width: 0.0em;
    height: 0.0em;
}

.component-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.0);
}

.component-container::-webkit-scrollbar-thumb {
  background-color: white;
}
