.like-buttons-container {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.rating-span {

}


.fa.fa-thumbs-o-down {

}

.fa.fa-thumbs-o-up {

}

.fa.fa-thumbs-o-down.red {
  color: red;
}

.fa.fa-thumbs-o-up.green {
  color: green
}
